.container {
    display: flex;
    flex-direction: column;
}

.elements {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 0 auto;
}

.elementsMain {
    overflow-y: auto;
    max-height: 40vh;
}

.elementsMain::-webkit-scrollbar {
    background-color: var(--background-element);
    width: 8px;
}

.elementsMain::-webkit-scrollbar-thumb {
    background-color: var(--text-inactive-color);
    width: 8px;
}

.info {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.infoPrice {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Jet Brains Mono', Arial, sans-serif;
    font-size: 48px;
}

.infoPrice > svg {
    width: 33px;
    height: 33px;
}

.modalBodyWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--text-primary-color);
}

.modalBodyWrapper > .orderNumber {
    font-size: 144px;
    font-family: Iceland, sans-serif;
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
                 0px 0px 8px rgba(51, 51, 255, 0.25),
                 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.modalBodyWrapper > h3 {
    text-transform: lowercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.modalBodyWrapper > span {
    font-size: 16px;
}