.wrapper {
    position: relative;
    width: 272px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper:hover {
    cursor: pointer;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: 'Iceland', sans-serif;
    font-size: 24px;
}

.name {
    font-size: 16px;
    font-family: 'Jet Brains Mono', Arial, sans-serif;
    line-height: 24px;
    font-weight: 400;
    height: 48px;
    text-align: center;
}

.counter {
    position: absolute;
    top: 0;
    right: 0;
}

.modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalBodyInfoWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.modalBodyInfo {
    color: var(--text-inactive-color);
    text-align: center;
}

.modalBodyInfoTitle {
    font-size: 16px;
    margin-bottom: 8px;
}

.modalBodyInfoValue {
    font-family: Iceland, sans-serif;
    font-size: 28px;
}