.container {}

.tabs {
    display: flex;
}

.ingredients {
    height: 100%;
}

.scrollWrapper {
    max-height: 65vh;
    overflow-y: auto;
}

.scrollWrapper::-webkit-scrollbar {
    background-color: var(--background-element);
    width: 8px;
}

.scrollWrapper::-webkit-scrollbar-thumb {
    background-color: var(--text-inactive-color);
    width: 8px;
}